
 .content {
   border: 3px solid #fff;
   height: 490px;
   width: 90%;
   margin: auto;
   background-color: #555555;
   background:rgba(55,55,55,0.3);
 }

 .col-md-6 {
   border-bottom: 3px solid #fff;
   color: #ff5722;
   font-size: 12em;
   margin-left: 75px;
   text-align: center;
   width: 40%;
 }

 #glycon {
   margin-top: 22px;
   height: 221px;

 }
.col-md-12{
 border-bottom: 3px solid #fff;
 color: #fff;
 margin-left: 17px;
 width: 97%;

 }

.forecast {
  font-size: 2em;
  text-align: center;
}
